* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: "KyivType";
    src: url('fonts/KyivType-Sans-Regular2.woff') format('woff'),
        url('fonts/KyivType-Sans-Regular3.woff') format('woff'),
        url('fonts/KyivType-Sans-Bold.woff') format('woff'),
        url('fonts/KyivType-Sans-Light.woff') format('woff');
}

html {
    background-color: #775749;
}

body {
    font-family: "KyivType", sans-serif !important;
    background-color: #fdddc8 !important;
}

.logo {
    text-align: center;
    flex: 1;
}

nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    text-align: center;
    flex: 1;
}

.menu-left,
.menu-right {
    display: flex;
    gap: 20px;
}

.menu-left a,
.menu-right a {
    color: #fdddc8;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 25px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 2px 0;
    border-radius: 5px;
}


@media (min-width: 901px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .menu-right a,
    .menu-left a {
        color: #775749;
        font-weight: 600;
    }

    .logo {
        text-align: center;
        flex: 0;
    }

    .menu-left,
    .menu-right {
        display: flex;
        gap: 3rem;
        list-style: none;
    }

    .logo img {
        width: 200px;
    }

    .menu-mobile{
        display: none;
    }
}

.logo:hover {
    cursor: pointer;
}


@media (max-width: 900px) {
    .menu-left, .menu-right {
        display: none;
    }
    

    .hamburger {
        display: flex;
        margin-top: 20px;
        user-select: none;
    }

    .menu-mobile {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 0;
        width: 150px;
        background-color: #5f3726a1;
        gap: .3rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-radius: 5px;
        margin-left: 1rem;
        margin-top: .5rem;
        user-select: none;
    }

    .menu-mobile a {
        padding: 10px;
        color: #fdddc8;
    }

    .menu-mobile a:hover {
        color: #000000
    }

    .logo img {
        width: 130px;
        height: 130px;
    }


    nav {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        align-items: flex-start;
    }

    .logo img {
        width: 130px;
        height: 130px;
    }

    .profile-icon img {
        width: 40px;
        height: 40px;
        margin-top: 20px;
    }
}

.ctn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ctn-main {
    display: flex;
    justify-content: center;
}

.form-serv {
    background-color: #775749;
    padding: 3rem;
    width: 600px;
    color: #fdddc8;
    border-radius: 10px 10px 0 0;
}

.form-serv a {
    text-decoration: none;
    color: #fdddc8;
    margin-left: .4rem;
    font-size: 14px;
}

.container {
    background-color: #fdddc8;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

.ctn-form-serv {
    display: flex;
    align-items: center;
}

form {
    margin-top: 2rem;
}

.form-title {
    margin-top: 1.4rem;
}

.profile {
    display: flex;
}


.profile-icon img {
    width: 40px;
    height: 40px;
}


.profile-icon a {
    color: #775749;
    transition: .2s ease;
    font-weight: 600
  }
  
  .profile-icon a:hover {
    color: #775749;
    text-decoration: underline;
    font-weight: 600
    
  }

.form-title h2 {
    font-size: 30px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-family: "KyivType", sans-serif;
    display: block;
    margin-bottom: 8px;
    color: #333;
    color: #fdddc8;
    letter-spacing: 2.5px;
    margin-top: 2rem;
}


input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #fdddc8;
    border-radius: 8px;
    background-color: #775749;
    box-sizing: border-box;
    box-shadow: 0px 0 9px #cccccc66;
    color: #fdddc8;
    font-size: 20px;
    font-family: "KyivType", sans-serif !important;
    margin-top: .5rem;
}


.ctn-btn-serv {
    display: flex;
    justify-content: center;
    font-family: "KyivType", sans-serif;
    margin-top: 1rem;
}

.ctn-btn-serv button {
    border-radius: 8px;

}

.login-content p {
    margin-bottom: 0;
}


.ctn-form-serv img {
    width: 25px;
  }
  

.profile-icon {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.profile-icon {
    display: flex;
  }

.ctn-form-serv a:hover {
    text-decoration: underline;
    color: #cb896f;
}

@media (min-width: 1500px) {

    .menu-right a, .menu-left a {
      font-size: 18px;
    }

  
    .profile-icon img {
      width: 40px;
    }
}

.menu-left a:hover, .menu-right a:hover {
    color: #000;
    text-decoration: underline;
  }
  




button {
    width: 300px;
    padding: 12px;
    background-color: #fdddc8;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #0000007d;
    color: #fdddc8;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #5F3726;
    font-weight: 600;
    font-size: 18px;
    font-family: "KyivType", sans-serif;
}

button:hover {
    background-color: #fdddc8;
}

.success-message,
.error-message {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.success-message {
    background-color: #d189695c;
    color: #f7eded;
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
}

.success-img {
    display: flex;
    justify-content: center;
}

.success-message img {
    width: 150px;
    height: 150px;
}

.error-message {
    margin-top: 1rem;
    background-color: #f8d7da;
    color: #721c24;
}

.hidden {
    display: none;
}

.success-border-radius {
    border-radius: 10px;
}

.txt-success {
    margin-top: 1rem;
}

.ftxt-success {
    font-size: 20px !important;
    letter-spacing: 1px;
}


.form-serv h2 {
    margin-top: 1rem;
}